:root {
	/* font */
	--font__main: Poppins, sans-serif;
	--font__main-weight: normal;
	--font__main-letter-spacing: 0;
	--font__main-text-transform: none;
	--font__main-text-decoration: none;
	--font__main-style: normal;
	--font__main-line-height: 1.8;

	--font__heading: Poppins, sans-serif;
	--font__heading-weight: bold;
	--font__heading-letter-spacing: 0;
	--font__heading-text-transform: none;
	--font__heading-text-decoration: none;
	--font__heading-style: normal;
	--font__heading-line-height: 1.35;

	--font__nav: Poppins, sans-serif;
	--font__nav-weight: bold;
	--font__nav-letter-spacing: 0;
	--font__nav-text-transform: capitalize;
	--font__nav-text-decoration: none;
	--font__nav-style: normal;
	--font__nav-line-height: 1.68;

	--font__button: Poppins, sans-serif;
	--font__button-weight: bold;
	--font__button-letter-spacing: 0;
	--font__button-text-transform: uppercase;
	--font__button-text-decoration: none;
	--font__button-style: normal;
	--font__button-line-height: 1.58;

	--font__field: Poppins, sans-serif;
	--font__field-weight: normal;
	--font__field-letter-spacing: 0;
	--font__field-text-transform: none;
	--font__field-text-decoration: none;
	--font__field-style: normal;
	--font__field-line-height: 1.58;

	--font__meta: Poppins, sans-serif;
	--font__meta-size: 13px;
	--font__meta-weight: normal;
	--font__meta-letter-spacing: 0;
	--font__meta-text-transform: none;
	--font__meta-text-decoration: none;
	--font__meta-style: normal;
	--font__meta-line-height: 1.58;
}
