button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	color: var(--color-black);
	&:hover {
		border-color: transparent;
	}

	&:active,
	&:focus {
		border-color: transparent;
	}
}
