:root {
	/* color */
	--color__primary: #4a69ff;
	--color__primary-hover: #304fe4;
	--color__primary-disabled: #c7d0fe;
	--color__secondary: #f2f2f2;
	--color__secondary-hover: #e8e8e8;
	--color__secondary-disabled: #f2f2f2;
	--color__success: #4cd964;
	--color__success-hover: #44c059;
	--color__success-disabled: #b4e7bc;
	--color__warning: #ff9d00;
	--color__warning-hover: #e78d00;
	--color__warning-disabled: #ffdea9;
	--color__danger: #f73939;
	--color__danger-hover: #d53232;
	--color__danger-disabled: #f4a0a0;
	--color__salmon: #ff6767;
	--color__salmon-hover: #db4c56;
	--color__salmon-disabled: #ffcbd8;
	--color__blue-1: #4a69ff;
	--color__blue-2: #c7d0fe;
	--color__blue-3: #e1e4ff;
	--color__gray-scale-1: #b8b8b8;
	--color__gray-scale-2: #8b8b8b;
	--color__gray-scale-3: #606060;
	--color__dark-1: #464547;
	--color__dark-2: #353638;
	--color__dark-3: #2e2f30;
	--color__dark-4: #1d1e1f;
	--color__warm-gray-1: #f2f2f2;
	--color__warm-gray-2: #e8e8e8;
	--color__warm-gray-3: #d9d9d9;
	--color__white: #fff;
	--color__black: #27282a;
	--color__block: #fcfcfc;
	--color__text-block: #fff;
	--color__text-block-hover: #fcfcfc;
	--color__grey: #f2f2f2;
	--color__warm: #fff0e5;
	--color__warm-hover: #ebd4c0;
	--color__shadow: rgba(0, 0, 0, 0.1);
	--nav-bar-mobile-height: 50px;
	--nav-bar-desktop-height: 60px;
	--color__indicator: #4a69ff;
	--color__light-green: #b7f0c1;
	--color__blue-neon: #00dafb;
	--color__purple: #9724ff;
	--color__contain-secondary-invert: #131414;
}
.dark {
	--color__primary: #4a69ff;
	--color__primary-hover: #304fe4;
	--color__primary-disabled: #2a2f52;
	--color__secondary: #27282a;
	--color__secondary-hover: #171819;
	--color__secondary-disabled: #27282a;
	--color__success: #2eb144;
	--color__success-hover: #29913b;
	--color__success-disabled: #114319;
	--color__warning: #d2922c;
	--color__warning-hover: #c37700;
	--color__warning-disabled: #6c4508;
	--color__danger: #db3232;
	--color__danger-hover: #d53232;
	--color__danger-disabled: #f4a0a0;
	--color__salmon: #ea7575;
	--color__salmon-hover: #b13a42;
	--color__salmon-disabled: #601c21;
	--color__blue-1: #4a69ff;
	--color__blue-2: #2a2f52;
	--color__blue-3: #1d212e;
	--color__gray-scale-1: #4a4a4a;
	--color__gray-scale-2: #646464;
	--color__gray-scale-3: #868686;
	--color__dark-1: #949494;
	--color__dark-2: #bbb;
	--color__dark-3: #d9d8d8;
	--color__dark-4: #f1f0f0;
	--color__warm-gray-1: #1f2021;
	--color__warm-gray-2: #2a2b2e;
	--color__warm-gray-3: #464547;
	--color__white: #131414;
	--color__black: #d9d9d9;
	--color__block: #18191a;
	--color__text-block: #131414;
	--color__text-block-hover: #18191a;
	--color__grey: #1f2021;
	--color__warm: #2c2927;
	--color__warm-hover: #3e3835;
	--color__shadow: hsla(0, 0%, 100%, 0.06);
	--color__indicator: #1f2021;
	--color__light-green: #1e5728;
	--color__blue-neon: #00dafb;
	--color__purple: #9724ff;
	--color__contain-secondary-invert: #fff;
}
