<link rel="shortcut icon" href="@@webRoot/assets/images/favicon.ico" type="image/x-icon" />
<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/style.css" />
<!-- endbuild -->

<!-- jquery @@webRoot/node_modules/jquery/dist/jquery.min.js -->
<script src="@@webRoot/node_modules/jquery/dist/jquery.min.js"></script>
<!-- endpreline -->

<!-- preline @@webRoot/node_modules/preline/dist/preline.js -->
<script src="@@webRoot/node_modules/preline/dist/preline.js"></script>
<!-- endpreline -->
