<link rel="shortcut icon" href="@@webRoot/assets/images/favicon.ico" type="image/x-icon" />
<!-- Theme CSS -->

<!-- fontawesome @@webRoot/node_modules/@fortawesome/fontawesome-free/css/all.css -->
<link rel="stylesheet" href="@@webRoot/node_modules/@fortawesome/fontawesome-free/css/all.css" />
<!-- endfontawesome -->

<!-- swiper @@webRoot/node_modules/@fortawesome/fontawesome-free/css/all.css -->
<link rel="stylesheet" href="@@webRoot/node_modules/swiper/swiper-bundle.min.css" />
<!-- endswiper -->

<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/style.css" />
<!-- endbuild -->

<!-- jquery @@webRoot/node_modules/jquery/dist/jquery.min.js -->
<script src="@@webRoot/node_modules/jquery/dist/jquery.min.js"></script>
<!-- endjquery -->

<!-- swiper @@webRoot/node_modules/swiper/swiper-bundle.min.js -->
<script src="@@webRoot/node_modules/swiper/swiper-bundle.min.js"></script>
<!-- endswiper -->

<!-- preline @@webRoot/node_modules/preline/dist/preline.js -->
<script src="@@webRoot/node_modules/preline/dist/preline.js"></script>
<!-- endpreline -->
