:root {
	/* font */
	--font-main: Play, sans-serif;
	--font-main-weight: normal;
	--font-main-letter-spacing: 0;
	--font-main-text-transform: none;
	--font-main-text-decoration: none;
	--font-main-style: normal;
	--font-main-line-height: 1.8;

	--font-heading: Play, sans-serif;
	--font-heading-weight: bold;
	--font-heading-letter-spacing: 0;
	--font-heading-text-transform: none;
	--font-heading-text-decoration: none;
	--font-heading-style: normal;
	--font-heading-line-height: 1.35;

	--font-nav: Play, sans-serif;
	--font-nav-weight: bold;
	--font-nav-letter-spacing: 0;
	--font-nav-text-transform: capitalize;
	--font-nav-text-decoration: none;
	--font-nav-style: normal;
	--font-nav-line-height: 1.68;

	--font-button: Play, sans-serif;
	--font-button-weight: bold;
	--font-button-letter-spacing: 0;
	--font-button-text-transform: uppercase;
	--font-button-text-decoration: none;
	--font-button-style: normal;
	--font-button-line-height: 1.58;

	--font-field: Play, sans-serif;
	--font-field-weight: normal;
	--font-field-letter-spacing: 0;
	--font-field-text-transform: none;
	--font-field-text-decoration: none;
	--font-field-style: normal;
	--font-field-line-height: 1.58;

	--font-meta: Play, sans-serif;
	--font-meta-size: 13px;
	--font-meta-weight: normal;
	--font-meta-letter-spacing: 0;
	--font-meta-text-transform: none;
	--font-meta-text-decoration: none;
	--font-meta-style: normal;
	--font-meta-line-height: 1.58;
	/* color */
	--color-primary: #4a69ff;
	--color-primary-hover: #304fe4;
	--color-primary-disabled: #c7d0fe;
	--color-secondary: #f2f2f2;
	--color-secondary-hover: #e8e8e8;
	--color-secondary-disabled: #f2f2f2;
	--color-success: #4cd964;
	--color-success-hover: #44c059;
	--color-success-disabled: #b4e7bc;
	--color-warning: #ff9d00;
	--color-warning-hover: #e78d00;
	--color-warning-disabled: #ffdea9;
	--color-danger: #f73939;
	--color-danger-hover: #d53232;
	--color-danger-disabled: #f4a0a0;
	--color-salmon: #ff6767;
	--color-salmon-hover: #db4c56;
	--color-salmon-disabled: #ffcbd8;
	--color-blue-1: #4a69ff;
	--color-blue-2: #c7d0fe;
	--color-blue-3: #e1e4ff;
	--color-gray-scale-1: #b8b8b8;
	--color-gray-scale-2: #8b8b8b;
	--color-gray-scale-3: #606060;
	--color-dark-1: #464547;
	--color-dark-2: #353638;
	--color-dark-3: #2e2f30;
	--color-dark-4: #1d1e1f;
	--color-warm-gray-1: #f2f2f2;
	--color-warm-gray-2: #e8e8e8;
	--color-warm-gray-3: #d9d9d9;
	--color-white: #fff;
	--color-black: #27282a;
	--color-block: #fcfcfc;
	--color-text-block: #fff;
	--color-text-block-hover: #fcfcfc;
	--color-grey: #f2f2f2;
	--color-warm: #fff0e5;
	--color-warm-hover: #ebd4c0;
	--color-shadow: rgba(0, 0, 0, 0.1);
	--nav-bar-mobile-height: 50px;
	--nav-bar-desktop-height: 60px;
	--color-indicator: #4a69ff;
	--color-light-green: #b7f0c1;
	--color-blue-neon: #00dafb;
	--color-purple: #9724ff;
	--color-contain-secondary-invert: #131414;
}
.dark {
	--color-primary: #4a69ff;
	--color-primary-hover: #304fe4;
	--color-primary-disabled: #2a2f52;
	--color-secondary: #27282a;
	--color-secondary-hover: #171819;
	--color-secondary-disabled: #27282a;
	--color-success: #2eb144;
	--color-success-hover: #29913b;
	--color-success-disabled: #114319;
	--color-warning: #d2922c;
	--color-warning-hover: #c37700;
	--color-warning-disabled: #6c4508;
	--color-danger: #db3232;
	--color-danger-hover: #d53232;
	--color-danger-disabled: #f4a0a0;
	--color-salmon: #ea7575;
	--color-salmon-hover: #b13a42;
	--color-salmon-disabled: #601c21;
	--color-blue-1: #4a69ff;
	--color-blue-2: #2a2f52;
	--color-blue-3: #1d212e;
	--color-gray-scale-1: #4a4a4a;
	--color-gray-scale-2: #646464;
	--color-gray-scale-3: #868686;
	--color-dark-1: #949494;
	--color-dark-2: #bbb;
	--color-dark-3: #d9d8d8;
	--color-dark-4: #f1f0f0;
	--color-warm-gray-1: #1f2021;
	--color-warm-gray-2: #2a2b2e;
	--color-warm-gray-3: #464547;
	--color-white: #131414;
	--color-black: #d9d9d9;
	--color-block: #18191a;
	--color-text-block: #131414;
	--color-text-block-hover: #18191a;
	--color-grey: #1f2021;
	--color-warm: #2c2927;
	--color-warm-hover: #3e3835;
	--color-shadow: hsla(0, 0%, 100%, 0.06);
	--color-indicator: #1f2021;
	--color-light-green: #1e5728;
	--color-blue-neon: #00dafb;
	--color-purple: #9724ff;
	--color-contain-secondary-invert: #fff;
}
