body {
	font-family: var(--font__main);
	font-weight: var(--font__main-weight);
	letter-spacing: var(--font__main-letter-spacing);
	text-transform: var(--font__main-text-transform);
	font-style: var(--font__main-style);
	line-height: var(--font__main-line-height);
	background: var(--color__warm-gray-1);
	color: var(--color__black);
}
