body {
	font-family: var(--font-main);
	font-weight: var(--font-main-weight);
	letter-spacing: var(--font-main-letter-spacing);
	text-transform: var(--font-main-text-transform);
	font-style: var(--font-main-style);
	line-height: var(--font-main-line-height);
	background: var(--color-warm-gray-1);
	color: var(--color-black);
}
