<header id="undertwp-header" class="sticky top-0 z-[1100] flex min-h-[58px] flex-col border-warm-gray bg-white px-3 md:px-0 <?php echo esc_attr('undertwp-h-' . $undertwp_header_style . $extra_class) ?>">
	<div class="container flex min-h-0 flex-grow flex-col flex-wrap bg-white py-[10px] md:flex-row justify-between">

		<div class="bg-pink relative hidden min-h-full w-full bg-white md:block md:w-1/3 md:pr-4 lg:w-1/4 xl:px-4">
			<div class="col-left flex h-full items-center">
				<ul class="flex min-w-0 items-center flex-grow">
					<li class="mr-2 flex-shrink-0">
						<a href="#">
							<img class="h-[38px]" src="https://assets.wikiasias.com/uploads/2024/03/18184757/w.png">
						</a>
					</li>
					<li class="relative hidden h-full flex-grow md:flex">
						<div class="absolute inset-0 flex items-center">
							<div class="w-full">
								<form role="search" method="get" action="#" class="relative w-full">
									<div class="flex items-center">
										<div class="flex flex-grow items-center gap-1.5 overflow-hidden rounded-3xl border border-block bg-warm-gray p-1.5 px-3">
											<button class="text-gray-scale-2" type="submit" value="Search">
												<svg data-tintable="true" data-type="svgr-icon" fill="none" height="30" width="30" xmlns="http://www.w3.org/2000/svg">
													<path clip-rule="evenodd" d="M15 3.85a9.15 9.15 0 0 1 5.116 16.737l-.117.076 2.962 3.957a.936.936 0 0 1-.15 1.284l-.095.07a1.05 1.05 0 0 1-1.41-.23l-3.12-4.166-.242.088c-.822.28-1.683.44-2.565.476L15 22.15a9.15 9.15 0 1 1 0-18.3m0 1.865a7.285 7.285 0 1 0 0 14.57 7.285 7.285 0 0 0 0-14.57" fill="#27282A" fill-rule="evenodd"></path>
												</svg>
											</button>
											<div class="min-w-0 flex-grow">
												<label class="true rounded-input block flex w-full items-center gap-2 border border-none bg-transparent text-base focus:outline-none">
													<input type="search" class="block min-w-0 flex-grow appearance-none bg-transparent placeholder-gray-scale-2 focus:outline-none" placeholder="Search" value="" name="s">
												</label>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="relative flex min-h-0 w-full min-w-0 flex-grow items-center md:w-2/3 md:flex-grow-0 lg:w-1/2 xl:w-5/12">
			<div class="flex-shrink-0">
				<a href="#" class="md:hidden">
					<img class="h-[38px]" src="https://assets.wikiasias.com/uploads/2024/03/18184757/w.png">
				</a>
			</div>
			<ul class="flex min-w-0 flex-grow justify-around px-4">
				<li class="twp"></li>
				<li class="hs-tooltip relative [--placement:bottom] md:[--trigger:hover]">
					<a class="hs-tooltip-toggle bg-transparent text-blue" href="/">
						<svg data-tintable="true" data-type="svgr-icon" fill="none" height="30" width="30" xmlns="http://www.w3.org/2000/svg">
							<path clip-rule="evenodd" d="M14.975 3C8.361 3 3 8.361 3 14.975S8.361 26.95 14.975 26.95 26.95 21.589 26.95 14.975 21.589 3 14.975 3m-.25 8.51 3.927-3.798c.362-.35.955-.007.833.481l-1.325 5.3a3.5 3.5 0 0 1-2.968 5.002l-.181.005-3.651 3.776c-.362.374-.984.015-.84-.485l1.444-5.05a3.5 3.5 0 0 1 2.762-5.231M17 15a2 2 0 1 0-4 0 2 2 0 0 0 4 0" fill="#27282A" fill-rule="evenodd"></path>
						</svg>
					</a>
					<div class="hs-tooltip-content absolute mt-1 hidden whitespace-nowrap rounded-full bg-white px-2 py-1 text-xs capitalize text-gray-scale-2 shadow-md">Feed</div>
				</li>
				<li class="hs-tooltip relative [--placement:bottom] md:[--trigger:hover]">
					<a class="hs-tooltip-toggle bg-transparent text-black hover:text-black disabled:text-warm-gray-3" target="" href="/invest/popular/all">
						<svg data-tintable="true" data-type="svgr-icon" fill="none" height="30" width="30" xmlns="http://www.w3.org/2000/svg" class="text-black">
							<path clip-rule="evenodd" d="M7 18a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-6a1 1 0 0 1 1-1zm8-3a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1zm8-4a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V12a1 1 0 0 1 1-1zm4.151-8.087-1.14 4.577a1.25 1.25 0 0 1-2.112.566l-1.026-1.061c-5.393 4.03-11.287 6.695-17.675 7.985a1 1 0 1 1-.396-1.96c6.013-1.215 11.567-3.705 16.67-7.476L20.425 4.46a1.25 1.25 0 0 1 .64-2.09l4.614-.981a1.25 1.25 0 0 1 1.473 1.525m-1.552.024-3.782.804.874.904c.041.002.07.05.136.142l1.837 1.902z" fill="#27282A" fill-rule="evenodd"></path>
						</svg>
					</a>
					<div class="hs-tooltip-content absolute mt-1 hidden whitespace-nowrap rounded-full bg-white px-2 py-1 text-xs capitalize text-gray-scale-2 shadow-md">All</div>
				</li>
				<li class="hs-tooltip relative [--placement:bottom] md:[--trigger:hover]">
					<a class="hs-tooltip-toggle bg-transparent text-black hover:text-black disabled:text-warm-gray-3" target="" href="/questions/popular">
						<svg data-tintable="true" data-type="svgr-icon" fill="none" height="30" width="30" xmlns="http://www.w3.org/2000/svg" class="text-black">
							<mask fill="#000" height="25" id="7424693f-b725-4be2-9d46-bd717ab0873d_icon_question_30_outline_svg__a" maskUnits="userSpaceOnUse" width="25" x="3.6" y="3.3">
								<path d="M3.6 3.3h25v25h-25z" fill="#fff"></path>
								<path clip-rule="evenodd" d="m24.617 21.905-.064-.354-.05-.47-.031-.535-.016-.573-.003-8.021-.006-.266c-.138-3.552-2.9-6.386-6.206-6.386h-6.475l-.247.007C8.24 5.457 5.6 8.419 5.6 11.99l.001 5.287.006.266c.138 3.552 2.9 6.386 6.206 6.386h7.383l1.11.008.835.025.376.025.247.027.36.085.21.076.457.192.754.343 1.122.526a.654.654 0 0 0 .888-.828l-.226-.584-.621-1.611z" fill-rule="evenodd"></path>
							</mask>
							<path clip-rule="evenodd" d="m24.617 21.905-.064-.354-.05-.47-.031-.535-.016-.573-.003-8.021-.006-.266c-.138-3.552-2.9-6.386-6.206-6.386h-6.475l-.247.007C8.24 5.457 5.6 8.419 5.6 11.99l.001 5.287.006.266c.138 3.552 2.9 6.386 6.206 6.386h7.383l1.11.008.835.025.376.025.247.027.36.085.21.076.457.192.754.343 1.122.526a.654.654 0 0 0 .888-.828l-.226-.584-.621-1.611z" mask="url(#7424693f-b725-4be2-9d46-bd717ab0873d_icon_question_30_outline_svg__a)" stroke="#27282A" stroke-width="4"></path>
							<path clip-rule="evenodd" d="M14.671 17.883c.667 0 1.202.506 1.202 1.15 0 .645-.535 1.15-1.202 1.15-.659 0-1.194-.505-1.194-1.15s.535-1.15 1.194-1.15m.279-8.547c2.08 0 3.479 1.143 3.479 2.85 0 1.105-.535 1.86-1.568 2.467-.974.564-1.194.88-1.289 1.495-.11.49-.395.776-.915.776-.623 0-.989-.425-.989-1.026v-.102c0-.864.447-1.436 1.311-1.941.945-.564 1.23-.93 1.23-1.604 0-.718-.556-1.216-1.362-1.216-.718 0-1.201.352-1.435 1.004-.184.468-.513.673-.96.673-.578 0-.937-.358-.937-.915 0-.315.073-.593.22-.872.468-.966 1.64-1.59 3.215-1.59" fill="#27282A" fill-rule="evenodd"></path>
						</svg>
					</a>
					<div class="hs-tooltip-content absolute mt-1 hidden whitespace-nowrap rounded-full bg-white px-2 py-1 text-xs capitalize text-gray-scale-2 shadow-md">Popular</div>
				</li>
				<li class="twp"></li>
			</ul>
			<div class="lg:hidden">
				<button type="button" class="hs-dark-mode group block flex items-center font-medium text-gray-600 hover:text-blue-600 hs-dark-mode-active:hidden dark:text-neutral-400 dark:hover:text-neutral-500" data-hs-theme-click-value="dark">
					<svg class="size-6 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
					</svg>
				</button>
				<button type="button" class="hs-dark-mode group flex hidden items-center font-medium text-gray-600 hover:text-blue-600 hs-dark-mode-active:block dark:text-neutral-400 dark:hover:text-neutral-500" data-hs-theme-click-value="light">
					<svg class="size-6 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<circle cx="12" cy="12" r="4"></circle>
						<path d="M12 2v2"></path>
						<path d="M12 20v2"></path>
						<path d="m4.93 4.93 1.41 1.41"></path>
						<path d="m17.66 17.66 1.41 1.41"></path>
						<path d="M2 12h2"></path>
						<path d="M20 12h2"></path>
						<path d="m6.34 17.66-1.41 1.41"></path>
						<path d="m19.07 4.93-1.41 1.41"></path>
					</svg>
				</button>
			</div>
		</div>

		<div class="col-right max-w-1/4 relative hidden w-1/4 items-center justify-center pl-4 lg:block lg:flex xl:max-w-[300px] xl:px-4">
			<div class="right-0 mx-4 flex items-center text-gray-scale-2 md:mx-0 lg:absolute lg:block lg:whitespace-nowrap">
				<button type="button" class="hs-dark-mode group block flex items-center font-medium text-gray-600 hover:text-blue-600 hs-dark-mode-active:hidden dark:text-neutral-400 dark:hover:text-neutral-500" data-hs-theme-click-value="dark">
					<svg class="size-6 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
					</svg>
				</button>
				<button type="button" class="hs-dark-mode group flex hidden items-center font-medium text-gray-600 hover:text-blue-600 hs-dark-mode-active:block dark:text-neutral-400 dark:hover:text-neutral-500" data-hs-theme-click-value="light">
					<svg class="size-6 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<circle cx="12" cy="12" r="4"></circle>
						<path d="M12 2v2"></path>
						<path d="M12 20v2"></path>
						<path d="m4.93 4.93 1.41 1.41"></path>
						<path d="m17.66 17.66 1.41 1.41"></path>
						<path d="M2 12h2"></path>
						<path d="M20 12h2"></path>
						<path d="m6.34 17.66-1.41 1.41"></path>
						<path d="m19.07 4.93-1.41 1.41"></path>
					</svg>
				</button>
			</div>
		</div>

	</div>
</header>

<div class="reading-gauge sticky left-0 top-[58px] z-[1099] w-full bg-warm-gray-3">
	<!--<div class="bg-primary h-full transition-all delay-100" style="width: 3.44828%;"></div>-->
</div>
